---
# this is an empty front matter
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include analytics.html %}
		<div class="mdl-layout__container has-scrolling-header">
			<canvas class="canvas-background"></canvas>			
			<div class="mdl-layout mdl-layout--fixed-header mdl-js-layout is-upgraded">
		    {% include header.html %}
      <main class="mdl-layout__content">
				<div class="mdl-grid posts-grid">
						{% for post in site.posts %}
						{% if post.hidden == FALSE %}
							<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
								<div class="mdl-card__media" style="background-image: url('{{ post.image }}')">
									<div class="texture-overlay"></div>
									<div class="mdl-card__media-text">
										<h2>
											<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
										</h2>
										{{post.hidden}}
										{{ post.date | date: "%b %-d, %Y" }}
									</div>
								</div>
						
								<div class="mdl-card__supporting-text">
									{{ post.summary }}
								</div>
							</div>
							{% endif %}
						{% endfor %}

    		</div>
			
    {% include footer.html %}
			
			</main>

    </div>	
		
		
<!-- Makes the image on the card clickable -->		
		<script>
		Array.prototype.forEach.call(document.querySelectorAll('.mdl-card__media'), function(el) {
			var link = el.querySelector('a');
			if(!link) {
				return;
			}
			var target = link.getAttribute('href');
			if(!target) {
				return;
			}
			el.addEventListener('click', function() {
				location.href = target;
			});
		});
		</script>		
		
  </body>

</html>
